### Imports and File Locations

In [8]:
import math
import numpy as np
import pandas as pd
import os
import git

In [12]:
repo = git.Repo('.', search_parent_directories=True)
os.chdir(repo.working_tree_dir)
print(os.getcwd())

c:\Users\Public\Documents\Personal_Projects\Ethan_Chalk_Project

# Exploratory Data Analysis

Read in Data

## Metadata

The original data was not formatted in the way of a long table, so I used excel to clean the data. Multiple explanatory variables were encoded in color or order of the tables, so they needed to be made explicit. I used a series of formulas for that. Thus, I created long formats of the `Chalk_Results.xlsx` and `Randomized tests.xlsx` (`Chalk_Long.xlsm` and `Metadata.slsx`) and merged and created labels for them in python. 

Variables are:
- Code: a number from 1-24. In excel, this column's color is indicative of date, and its value is also indicative of control (or chalk) and treatment. Code + bChalk form the key for merging metadata with chalk_long. 
- bChalk: a number from 1-4 (1=FL. 2=Metolius, 3=Magdust, 4=Ethan's Chalk), not directly indicative of whether chalk was used. Code + bChalk form the key for merging metadata with chalk_long.
- Pinch_Order: Order in which test was conducted, for each attempt (code number), the test was performed three times sequentially. Pinch_Order + bChalk + Code forms the primary key. 
- Pinch: The weight at which the board was pinched. 
- Pull: The weight just before the hand slipped. **Our dependent variable**. 
- Chalk: The actual chalk used, 0 is added for control. 
- Person: The person conducting the test, one intermediate and one advanced climber. 
- Day: The day when the test was conducted. Dates were, 10/30/2024,10/31/2024,11/4/2024,11/6/2024,11/8/2024,11/10/2024, and 11/14/2024. Last two were apparently "noticeably slippery". 
- Day_Order: The order in which the tests were conducted in the day. This was randomized. 


### Scratch
- Chalks 1-4: type of chalk. 
- Randomization: order (chalk/nochalk) tested
- Colors: Day indicators
- Dark red: see excel
- Run number: 1-24 Ethan, 25-48 Jackson
- Shading: 1-6 no chalk, 7-12 no chalk, number corresponds to weight in accordance w the metadata spreadsheet
- Pinches 1-3/Pulls 1-3
- Pulls 1-3: values before slip
- Pinches: watching it the whole time, pinch is x, pull is y
- supraorder maximized

In [28]:
Chalk_Long = pd.read_excel('data/Raw/Chalk_Long.xlsm', sheet_name=1, header=0)
metadata = pd.read_excel('data/Raw/Metadata.xlsx', sheet_name=1, header=0)
Chalk = pd.merge(metadata, Chalk_Long, on=["Code","bChalk"], how='left')

In [30]:
Chalk.info()
Chalk.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 576 entries, 0 to 575
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Code                576 non-null    int64
 1   bChalk              576 non-null    int64
 2   Day_Order           576 non-null    int64
 3   Day                 576 non-null    datetime64[ns]
 4   Pinch               576 non-null    float64
 5   Pull                576 non-null    float64
 6   Within Pinch Order  576 non-null    int64
 7   Chalk               576 non-null    int64
 8   Person              576 non-null    int64
dtypes: datetime64[ns](1), float64(2), int64(6)
memory usage: 40.6 KB

,Code,bChalk,Day_Order,Day,Pinch,Pull,Within Pinch Order,Chalk,Person
0,16,1,1,2024-10-30,4.202,34.6,1,0,1
1,16,1,1,2024-10-30,4.117,31.9,2,0,1
2,16,1,1,2024-10-30,4.154,31.9,3,0,1
3,34,1,2,2024-10-30,4.088,41.1,1,1,2
4,34,1,2,2024-10-30,4.088,44.5,2,1,2